body{
    background-color: #e3fdfd;
    margin: 0;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
h1{
    margin:0;
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
}
p{
    margin-top: 0;
    font-size: 20px;
}
.mountain{
    position: absolute;
    padding-bottom: 0;
    width: 500px;
    height: 300px;
}
.up-cloud{
    position:absolute;
    right: 300px;
    top: 50px;
}
.down-cloud{
    position:absolute;
    left: 300px;
    top: 200px;
}
.intro{
    padding-top: 150px;
    line-height: 2;
}

.intro-h1{
    font-size: 80px;
    font-family: 'Sacramento', cursive;
}

.intro-p{
    font-size: 40px;
}
.basic{
    background-color: #e3fdfd;
}

.main-body{
    line-height: 2;
}

.top-intro{
    padding-bottom: 50px;
}
.top-intro,.rule{
    background-color: #cbf1f5
}

.skill-tab{
    width: 50%;
    margin: 0px auto 100px auto;
    text-align: left;
    padding-bottom: 50px;
    line-height: 2;
    
}

.img-comp{
    width: 300px;
    height: 300px;
    float: left;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}

.img-code{
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 50%;
    margin-left: 30px;
    object-fit: cover;
    margin-bottom: 100px;
}

.skills{
    margin: 0px auto 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #a6e3e9;
}

.rule{
    width: 100%;
    margin: 0px;
}

button{
    border-width: 5px;
    border-style: hidden;
    border-radius: 25% 0 25% 0;
    background-color: bisque;
    display: inline-block;
    cursor: pointer;
}

.profile-pic{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    margin: 50px auto 50px auto;
}

.bottom-tab{
    padding-bottom: 100px;
    padding-top: 50px;
}

.top-tab{
    padding-top: 100px;
    padding-bottom: 50px;
}

.bottom-background, .ending{
    background-color: #71c9ce;
    padding: 50px 0 50px 0;
}
